.container{
    max-width: 1080px;  
    margin: auto;
}
.headline{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 50px;
    min-width: 500px;
    text-align: center;
    color: #000000;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.product{
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 500px;
}
.coin{
    position: relative;
    border-radius:50%

}

.coin_img{
    width: 172px;
}
.coin_discount{
    position: absolute;
    width: 43px;
    height: 43px;
    top: 10%;
    right:10%;
    border-radius:50%;
    background: #833AE0;
}
.coin_discount p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin:13px auto 7px auto ;
}
.information{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 221.52px;
    padding: 25px 0 0;
}
.product_link{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #833AE0;
}

.information ul{
    padding:14px 0 0;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    margin: 0;
}

.price ul{
    padding: 25px 0 0;
    margin: 0;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.price li:last-child{
    font-size: 14px;
    font-weight: normal;
    color:gray;
}