.container{
    max-width: 1080px; 
    margin: auto;
}
.headline{
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 50px;
    min-width: 500px;
    text-align: center;
    color: #000000;
    margin: 0;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.product{
    display: flex;
    justify-content: space-between;
    max-width: 48%;
    min-width: 400px;
    height: 150px;
}
.product:nth-child(odd){
    margin-right: 30px;
}
.coin{
    position: relative;
    border-radius:50%

}

.coin_img{
    max-width: 172px;
}
.coin_discount{
    position: absolute;
    width: 43px;
    height: 43px;
    top: 10%;
    right:10%;
    border-radius:50%;
    background: #833AE0;
}
.coin_discount p {
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin:13px auto 7px auto ;
}
.information{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 221.52px;
    padding: 25px 10px 0 0;
}
.product_link{
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #833AE0;
    text-decoration: none;
}

.information ul{
    padding:14px 0 0;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    margin: 0;
}

.price ul{
    padding: 25px 0 0;
    margin: 0;
    list-style: none;
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.price li:last-child{
    font-size: 14px;
    font-weight: normal;
    color:gray;
}
.container_product{
    max-width: 920px;
    min-width: 600px;
    margin: auto;
}
.main_product{
    display: flex;
    font-family: "Roboto" , sans-serif;
}
.headline_product{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
}
.coin_product{
    position: relative;
    width: 50%;
    height: 50%;
}
.icon_front{
    position: absolute;
    width: 100%;
}
.icon_back{
    position: absolute;
    display: none;
    width: 100%;
}
.coin_product:hover  .icon_back{
    display: block;
}

.text{
    padding:12px 44px 16px 47px;
    background: rgba(196, 196, 196, 0.5);
    width: 50%;
}
.articul{
    font-size: 12px;
    color:gray;
}
.articul_span{
    font-size: 12px;
    color:black;
}
.articul_prise{
    font-size: 26px;
    font-weight: bold;
    line-height: 33px;
    color:black;
}
.text_info{
    border-collapse: collapse;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 105.2%;
    padding-bottom:50px;
}
.text_info tr td{
    padding:6.29px 4.73px 6.86px 21.22px;
}
.text_info tr td:nth-child(odd){
    border-right: 0.5px solid #B1ABAB;
}
.text_info tr{
    border-bottom: 0.5px solid #B1ABAB;
}
.text_info tr:last-child{
    border-bottom: none;
}
.text_info tr:nth-child(odd){
    background: rgba(255, 255, 255, 0.9);    
}
.backlink{
    display: block;
    font-family: Roboto ,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #833AE0;
    padding-top: 50px;
    padding-bottom:20px ;
}